
node_modules/
.env
*.env
**/build/
*.apk
*.so
*.bin
server/uploads/
react-native-client
server/cache/
npm-debug.log*
server/serviceAccountKey.json
jadx-tool/
decompiled/


client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/.pub-cache/
client/.pub/
client/build/

client/android/.gradle/
client/android/captures/
client/android/gradlew
client/android/gradlew.bat
client/android/local.properties
client/android/GeneratedPluginRegistrant.java
client/android/key.properties
client/**/*.keystore
client/**/*.jks

client/ios/.generated/
client/ios/Flutter/App.framework
client/ios/Flutter/Flutter.framework
client/ios/Flutter/Flutter.podspec
client/ios/Flutter/Generated.xcconfig
client/ios/Flutter/ephemeral/
client/ios/Flutter/app.flx
client/ios/Flutter/app.zip
client/ios/Flutter/flutter_assets/
client/ios/ServiceDefinitions.json
client/ios/Runner/GeneratedPluginRegistrant.*
client/ios/Pods/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml
